<div class="home-callout text-center container-fluid"> 
<h1> Database </h1>
<h3> A site whrer</h3>
</div>

<div class="paragraph1 text-center"> 
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae aspernatur 
eligendi officia mollitia autem et eveniet ipsa quaerat ad a cumque alias veniam, 
quibusdam natus, quam ipsam neque sit nisi.</p>
</div>